/* Dark Theme */

body {
    background-color: #1e1e1e;
    color: #fff;
}

$no_algos: 6;

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    background-color: #3b3a3a;
    color: #fff;
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
    padding: 0 5%;

    .array-inputs {
        display: grid;
        grid-template-columns: 60% 40%;
        place-content: center;
        padding: 5% 0;

        #a_size, #a_speed {
            padding: 5% 0;
        }

        #a_generate {
            background-color: transparent;
            border: none;
            outline: none;
            color: #fff;
            padding: 4% 0 0 20%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .header_right {
        display: flex;
        flex-direction: column;

        .nav-heading {
            display: inline-block;
            font-size: xxx-large;
            padding: 3% 0;
        }

        .algos {
            display: grid;
            grid-template-columns: repeat($no_algos, (100% / $no_algos));
            place-content: center;
            padding: 2% 0;

            button {
                background-color: transparent;
                border: none;
                color: #fff;
                outline: none;
                padding: 5% 0;
                font-size: x-large;

                &:hover {
                    background-color: #0000ff;
                    cursor: pointer;
                }
            }

            .butt_locked, .butt_selected {
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    cursor: pointer;
                }
            }

            .butt_selected {
                background-color: #fff;
                color: green;

                &:hover {
                    background-color: #fff;
                    cursor: pointer;
                }
            }

            .butt_unselected {
                &:hover {
                    background-color: #0000ff;
                    cursor: pointer;
                }
            }
        }
    }
}

section {
    display: grid;
    grid-template-columns: 20% 60% 20%;

    .Complexity_Containers {
        margin-top: 20%;

        .Pair_Definitions {
            margin-top: 20%;

            p {
                display: inline;
            }

            p.Sub_Heading {
                font-size: medium;
                text-transform: none;
            }
        }
    }

    #Info_Cont1 {
        padding: 20% 10%;

        h3 {
            text-decoration: underline;
        }
    }

    #array_container {
        display: flex;
        width: 100%;
        height: 70vh;
    }

    #Info_Cont2 {
        padding: 20% 10%;

        h3 {
            text-decoration: underline;
        }
    }
}

.hide {
    display: none;
}
